/* Custom style to fix search button display after augmented browser has been enabled */
.search input {
    width: 90%;
}
/* Custom style to override ad style */
.ad-wrapper {
    height: 0px !important;
    display: none !important;
}
